@{
    ViewBag.Title = "OREGON Quản lý | Kinh doanh";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h5 class="ml-4 mt-4">THÊM DỊCH VỤ</h5>
<div class="content-title-line card-nhansu ml-4"></div>
<div class="container">
    <div class="modal-body">
        <form action="/Admin/Business/AddService" method="post" class="d-flex justify-content-center flex-column needs-validation" novalidate>
            <div class="row form-group">
                <label class="col-4" for="serviceID">Mã dịch vụ</label>
                <div class="d-flex flex-column col-8 p-0">
                    <input class="p-2" type="text" id="serviceID" name="serviceID" required />
                    <div class="invalid-feedback">Hãy điền mã dịch vụ</div>
                    @if (ViewBag.error != null)
                    {<div class="text-danger">@ViewBag.error</div>}
                </div>
            </div>
            <div class="row form-group">
                <label class="col-4" for="service_name">Tên dịch vụ</label>
                <div class="d-flex flex-column col-8 p-0">
                    <input class="p-2" type="text" id="service_name" name="service_name" required />
                    <div class="invalid-feedback">Hãy điền dịch vụ</div>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-4" for="service_price">Giá</label>
                <div class="d-flex flex-column col-8 p-0">
                    <input class="p-2" type="text" id="service_price" name="service_price" required />
                    <div class="invalid-feedback">Hãy điền giá dịch vụ</div>
                </div>
            </div>
            @*<div class="row form-group">
                    <label class="col-4">Bộ phận</label>
                    <div class="col-8 d-flex flex-column">
                        @{ var i = 1; }
                        @foreach (var department in ViewBag.departments)
                        {
                            var inputId = "admin-role" + i;
                            <div class="row justify-content-start">
                                <input type="radio" id="@inputId" name="role" value="@department.DepartmentID" required />
                                <label for="@inputId">@department.DepartmentName</label>
                            </div>
                            i += 1;
                        }
                        <div class="invalid-feedback">Hãy chọn một bộ phận</div>
                    </div>
                </div>*@
            <div class="row justify-content-end">
                <button type="submit" class="btn btn-lg card-kinhdoanh text-light mr-3">Lưu</button>
                <a href="/Admin/Business/Business" type="button" class="btn btn-lg btn-light mr-3">Hủy</a>
            </div>
        </form>
    </div>
</div>
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>