
@{
    ViewBag.Title = "OREGON Quản lý | Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h5 class="ml-4 mt-4">QUẢN LÝ NHÂN SỰ</h5>
<div class="content-title-line card-nhansu ml-4"></div>
<div class="nhansu-content d-flex row mx-2">
    <a href="/Admin/HumanResource/HumanResource" class="card-content col-xl-3 col-md-6 p-4">
        <div class="card-div card-nhansu d-flex p-4">
            <div class="card-icon">
                <div class="card-icon-inside card-icon-inside-nhansu"><i class="fa fa-user" aria-hidden="true"></i></div>
            </div>
            <div class="card-content">
                <div class="card-title">Số quản trị viên</div>
                <div class="card-info">@ViewBag.admins</div>
            </div>
        </div>
    </a>
    <a href="/Admin/HumanResource/HumanResource" class="card-content col-xl-3 col-md-6 p-4">
        <div class="card-div card-nhansu d-flex p-4">
            <div class="card-icon">
                <div class="card-icon-inside card-icon-inside-nhansu"><i class="fa fa-users" aria-hidden="true"></i></div>
            </div>
            <div class="card-content">
                <div class="card-title">Số bộ phận công tác</div>
                <div class="card-info">@ViewBag.departments</div>
            </div>
        </div>
    </a>
</div>
<h5 class="ml-4 mt-4">QUẢN LÝ CƠ SỞ HẠ TẦNG</h5>
<div class="content-title-line card-coso ml-4"></div>
<div class="coso-content d-flex row mx-2">
    <a href="/Admin/Facility/Facility" class="card-content col-xl-3 col-md-6 p-4">
        <div class="card-div card-coso d-flex p-4">
            <div class="card-icon">
                <div class="card-icon-inside card-icon-inside-coso"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
            </div>
            <div class="card-content">
                <div class="card-title">Số khu vực rạp</div>
                <div class="card-info">@ViewBag.locations</div>
            </div>
        </div>
    </a>
    <a href="/Admin/Facility/Facility" class="card-content col-xl-3 col-md-6 p-4">
        <div class="card-div card-coso d-flex p-4">
            <div class="card-icon">
                <div class="card-icon-inside card-icon-inside-coso"><i class="fa fa-building" aria-hidden="true"></i></div>
            </div>
            <div class="card-content">
                <div class="card-title">Số rạp chiếu phim</div>
                <div class="card-info">@ViewBag.cinemas</div>
            </div>
        </div>
    </a>
    <a href="/Admin/Facility/Facility" class="card-content col-xl-3 col-md-6 p-4">
        <div class="card-div card-coso d-flex p-4">
            <div class="card-icon">
                <div class="card-icon-inside card-icon-inside-coso"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></div>
            </div>
            <div class="card-content">
                <div class="card-title">Số phòng chiếu phim</div>
                <div class="card-info">@ViewBag.rooms</div>
            </div>
        </div>
    </a>
</div>
<h5 class="ml-4 mt-4">QUẢN LÝ KINH DOANH</h5>
<div class="content-title-line card-kinhdoanh ml-4"></div>
<div class="coso-content d-flex row mx-2">
    <a href="/Admin/Business/Business" class="card-content col-xl-3 col-md-6 p-4">
        <div class="card-div card-kinhdoanh d-flex p-4">
            <div class="card-icon">
                <div class="card-icon-inside card-icon-inside-kinhdoanh"><i class="fa fa-money-bill" aria-hidden="true"></i></div>
            </div>
            <div class="card-content d-flex flex-column justify-content-center">
                <div class="h6 text-light">Tổng doanh thu</div>
                <div class=" h6 text-light">213.232.000 VNĐ</div>
            </div>
        </div>
    </a>
    <a href="/Admin/Business/Business" class="card-content col-xl-3 col-md-6 p-4">
        <div class="card-div card-kinhdoanh d-flex p-4">
            <div class="card-icon">
                <div class="card-icon-inside card-icon-inside-kinhdoanh"><i class="far fa-credit-card" aria-hidden="true"></i></div>
            </div>
            <div class="card-content">
                <div class="card-title">Lượt thanh toán online</div>
                <div class="card-info">6251</div>
            </div>
        </div>
    </a>
    <a href="/Admin/Business/Business" class="card-content col-xl-3 col-md-6 p-4">
        <div class="card-div card-kinhdoanh d-flex p-4">
            <div class="card-icon">
                <div class="card-icon-inside card-icon-inside-kinhdoanh"><i class="fa fa-ticket-alt" aria-hidden="true"></i></div>
            </div>
            <div class="card-content">
                <div class="card-title">Số loại vé</div>
                <div class="card-info">@ViewBag.ticketType</div>
            </div>
        </div>
    </a>
    <a href="/Admin/Business/Business" class="card-content col-xl-3 col-md-6 p-4">
        <div class="card-div card-kinhdoanh d-flex p-4">
            <div class="card-icon">
                <div class="card-icon-inside card-icon-inside-kinhdoanh"><i class="fa fa-beer" aria-hidden="true"></i></div>
            </div>
            <div class="card-content">
                <div class="card-title">Số loại dịch vụ</div>
                <div class="card-info">@ViewBag.service</div>
            </div>
        </div>
    </a>
</div>
<h5 class="ml-4 mt-4">QUẢN LÝ PHIM</h5>
<div class="content-title-line card-phim ml-4"></div>
<div class="coso-content d-flex row mx-2">
    <a href="/Admin/MovieAdmin/MovieAdmin" class="card-content col-xl-3 col-md-6 p-4">
        <div class="card-div card-phim d-flex p-4">
            <div class="card-icon">
                <div class="card-icon-inside card-icon-inside-phim"><i class="fa fa-calendar-check" aria-hidden="true"></i></div>
            </div>
            <div class="card-content">
                <div class="card-title">Số phim đang chiếu</div>
                <div class="card-info">@ViewBag.dangchieu</div>
            </div>
        </div>
    </a>
    <a href="/Admin/MovieAdmin/MovieAdmin" class="card-content col-xl-3 col-md-6 p-4">
        <div class="card-div card-phim d-flex p-4">
            <div class="card-icon">
                <div class="card-icon-inside card-icon-inside-phim"><i class="fa fa-calendar-times" aria-hidden="true"></i></div>
            </div>
            <div class="card-content">
                <div class="card-title">Số phim sắp chiếu</div>
                <div class="card-info">@ViewBag.sapchieu</div>
            </div>
        </div>
    </a>
</div>
<h5 class="ml-4 mt-4">QUẢN LÝ TRUYỀN THÔNG</h5>
<div class="content-title-line card-truyenthong ml-4"></div>
<div class="coso-content d-flex row mx-2">
    <a href="/Admin/Media/Media" class="card-content col-xl-3 col-md-6 p-4">
        <div class="card-div card-truyenthong d-flex p-4">
            <div class="card-icon">
                <div class="card-icon-inside card-icon-inside-truyenthong"><i class="fa fa-comments" aria-hidden="true"></i></div>
            </div>
            <div class="card-content">
                <div class="card-title">Số bài đăng</div>
                <div class="card-info">@ViewBag.sobaidang</div>
            </div>
        </div>
    </a>
    <a href="/Admin/Media/Media" class="card-content col-xl-3 col-md-6 p-4">
        <div class="card-div card-truyenthong d-flex p-4">
            <div class="card-icon">
                <div class="card-icon-inside card-icon-inside-truyenthong"><i class="fa fa-comments" aria-hidden="true"></i></div>
            </div>
            <div class="card-content">
                <div class="card-title">Số bài Blog điện ảnh</div>
                <div class="card-info">@ViewBag.soblog</div>
            </div>
        </div>
    </a>
    <a href="#" class="card-content col-xl-3 col-md-6 p-4">
        <div class="card-div card-truyenthong d-flex p-4">
            <div class="card-icon">
                <div class="card-icon-inside card-icon-inside-truyenthong"><i class="fa fa-comments" aria-hidden="true"></i></div>
            </div>
            <div class="card-content">
                <div class="card-title">Số bài Bình luận phim</div>
                <div class="card-info">@ViewBag.sobaibl</div>
            </div>
        </div>
    </a>
    <a href="#" class="card-content col-xl-3 col-md-6 p-4">
        <div class="card-div card-truyenthong d-flex p-4">
            <div class="card-icon">
                <div class="card-icon-inside card-icon-inside-truyenthong"><i class="fa fa-comments" aria-hidden="true"></i></div>
            </div>
            <div class="card-content">
                <div class="card-title">Số bài Tin khuyến mãi</div>
                <div class="card-info">@ViewBag.sobaibl</div>
            </div>
        </div>
    </a>
</div>