@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Cinema Admin</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="~/Areas/Admin/assets/images/auth-bg.jpg">
    <link rel="stylesheet" href="~/Areas/Admin/assets/css/style.css">
    <link rel="stylesheet" href="~/Areas/Admin/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/Areas/Admin/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/Areas/Admin/assets/bootstrap/bootstrap.min.js">

    <script src="~/Areas/Admin/assets/bootstrap/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/assets/js/vendor-all.min.js"></script>


</head>
<body style="">
    @using (Html.BeginForm())
    {
        <!-- [ auth-signin ] start -->
        <div class="auth-wrapper">
            <div class="auth-content container">
                <div class="card" id="Auth">
                    <div class="row align-items-center ">
                        <div class="col-md-6">
                            <div class="card-body justify-content-center">
                                <img src="../assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
                                <h4 class="mb-3 f-w-400">Đăng nhập vào trang quản lý </h4>
                                @*<div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="feather icon-mail"></i></span>
                                    </div>
                                    @Html.TextBoxFor(model => model.AdminName, new { @class = "form-control", @placeholder = "Admin name", type = "text", @autofocus = "autofocus" })
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="feather icon-lock"></i></span>
                                    </div>
                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "Password", type = "password" })
                                </div>

                                <div class="form-group text-center mt-2">
                                    <div class="checkbox checkbox-primary d-inline">
                                        @Html.CheckBoxFor(model => model.RememberMe)
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary mb-4">Login</button>*@


                                <form action="" method="post">
                                        <div class="input-group mb-2">
                                            <label for="user" class="label">Tài khoản</label>
                                            <input id="user" name="user" type="text" class="input" placeholder="">
                                            <input type="hidden" id="hidID" value="0" />
                                        </div>
                                        <div class="input-group mb-3">
                                            <label for="pass" class="label">Mật khẩu</label>
                                            <input id="pass" name="pass" type="password" class="input" data-type="password" placeholder="">
                                        </div>
                                        <div class="form-group text-center mt-2">
                                            <input id="check" name="checkbox" type="checkbox" class="check" checked>
                                            <label for="check"><span class="icon"></span> Nhớ mật khẩu của tôi</label>
                                        </div>
                                        <div class="group">
                                            <input type="button" class="button" value="Sign In" onclick="login()">
                                        </div>

                                        <div class="group text-danger text-bold" id="notif_signin">

                                        </div>
                                        <div class="group text-danger text-bold" id="notif_signin_success">

                                        </div>
                                        <div class="hr"></div>
                                        <div class="foot-lnk">
                                            <a href="#forgot">Quên mật khẩu?</a>
                                        </div>

                                    </form>
                            </div>

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, null, new { @class = "alert alert danger" })


                        </div>
                        <div class="col-md-6 d-none d-md-block">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- [ auth-signin ] end -->
        <!-- Required Js -->

        <div class="footer-fab">
            <div class="b-bg">
                <i class="fas fa-question"></i>
            </div>
            <div class="fab-hover">
                <ul class="list-unstyled">
                    <li><a href="../doc/index-bc-package.html" target="_blank" data-text="UI Kit" class="btn btn-icon btn-rounded btn-info m-0"><i class="feather icon-layers"></i></a></li>
                    <li><a href="../doc/index.html" target="_blank" data-text="Document" class="btn btn-icon btn-rounded btn-primary m-0"><i class="feather icon feather icon-book"></i></a></li>
                </ul>
            </div>
        </div>
    }

</body>

</html>